$bar-accent-color: #5D93B0;

.bar {
    background-color: #000000BF;
    color: $bar-accent-color;
}

.close-button {
    all: unset;

    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    
    color: $bar-accent-color;
    background-color: transparent;
    
    &:hover {
        color: white;
        background-color: #e45353;
    }

    transition: background-color 0.15s ease-in-out, color 0.1s ease-in-out;
}

.workspace-selector {
    color: white;
}

.workspace-button {
    all: unset;

    color: $bar-accent-color;
}

.system-tray {
    background-color: red;
}