.bar {
    background-color: #000000BF;
    color: #5D93B0;
}

.test-button {
    background-color: rgba(0, 0, 0, 0.171);

    &:hover {
        background-color: #5D93B0;
    }
}

.close-button {
    background-color: rgba(0, 0, 0, 0.171);
    
    &:hover {
        background-color: #e45353;
    }
}

.workspace-button {
    background-color: purple;

    &.active {
        background-color: green;
    }
}