$bar-accent-color: #5D93B0;

.bar {
    background-color: #000000BF;
    color: $bar-accent-color;
}

.test-button {
    background-color: rgba(0, 0, 0, 0.171);

    &:hover {
        background-color: $bar-accent-color;
    }
}

.close-button {
    background-color: rgba(0, 0, 0, 0.171);
    
    &:hover {
        background-color: #e45353;
    }
}

.workspace-selector {
    color: white;
}

.workspace-button {
    all: unset;

    color: $bar-accent-color;
}